{% extends 'base/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}Home
{% block titulo %}Homepage{% endblock titulo %}
{% block contenido %}
  <fieldset>
              <div class="container">
                  <div class="row">
                      <div class="col-12 col-md-8">
                          <legend>Cursos</legend>
                      </div>
                      <div class="col-12 col-md-3">   
                          <input class="form-control" type="text" placeholder="Nombre de Curso" id="buscador" name="buscador">
                      </div>
                      <div class="col-12 col-md-1">
                          <button class="btn btn-secondary mb-2">Buscar🔎</button>
                      </div>
                      
                  </div>
              </div>
              
              <div class="container">
                  <div class="card-group">
                      <div class="card">
                        <img src="{% static 'image/herramientas-y-recursos-para-crear-curso-online.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h3 class="card-title">Curso 1</h3>
                          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, eligendi distinctio magni officia eaque facere? Mollitia ipsam necessitatibus reiciendis animi excepturi quibusdam. Non deleniti magnam, architecto vel dolor dolores porro?<a href="./curso.html">Ver mas...</a></p>
                          
                        </div>
                        <div class="card-footer">
                          <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                      </div>
                      <div class="card">
                        <img src="{% static 'image/herramientas-y-recursos-para-crear-curso-online.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h3 class="card-title">Curso 2</h3>
                          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, eligendi distinctio magni officia eaque facere? Mollitia ipsam necessitatibus reiciendis animi excepturi quibusdam. Non deleniti magnam, architecto vel dolor dolores porro?<a href="./curso.html">Ver mas...</a></p>
                        </div>
                        <div class="card-footer">
                          <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                      </div>
                      <div class="card">
                        <img src="{% static 'image/herramientas-y-recursos-para-crear-curso-online.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h3 class="card-title">Curso 3</h3>
                          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, eligendi distinctio magni officia eaque facere? Mollitia ipsam necessitatibus reiciendis animi excepturi quibusdam. Non deleniti magnam, architecto vel dolor dolores porro? <a href="./curso.html">Ver mas...</a></p>
                        </div>
                        <div class="card-footer">
                          <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                      </div>
                    </div>
              </div>
  </fieldset>
{% endblock contenido %}
