{% extends 'base/base.html' %}
{% load static %}
{% block title %}Sing up{% endblock title %}Home
{% block titulo %}Sing up{% endblock titulo %}
{% block contenido %}
  
    <div class="container">
        
        <fieldset>
           
            
            <legend>Datos de inicio de Sesion</legend>
            <form class=" row ">
                <div class="mb-3 row"> 
                    <label for="correo" class="col-md-2 col-form-label">Correo </label>
                    <div class="col-md-8"><input name="correo" id="correo" type="email" class="form-control"></div>
                </div>
                <div class="mb-3 row">
                    <label for="usuario" class="col-md-2 col-form-label">Usuario</label>
                    <div class=" col-md-8"><input name="usuario" id="usuario" type="text" class="form-control"></div>
                </div>
                <div class="mb-3 row">
                    <label for="Contrasenia" class="col-md-2 col-form-label">Contraseña</label>
                    <div class="col-md-8"><input type="password" class="form-control" id="Contrasenia"></div>
                </div>
                <div class="mb-3 row">
                    <label for="Contrasenia1" class="col-md-2 col-form-label">Confirmar Contraseña</label>
                    <div class="col-md-8"><input type="password" class="form-control" id="Contrasenia1"></div>
                </div>
                <div class="mb-3 row">
                    <label for="tipoCuenta" class="col-md-2 col-form-label">Tipo de Cuenta</label>
                    <div class="col-md-8 " ><select name="tipoCuenta" id="tipoCuenta" class="form-control collapsible">
                        <option value="estudiante">Estudiante</option>
                        <option value="docente">Docente</option>
                    </select>
                    </div>
                    <div class="mt-1 mb-3 row content">
                    <label for="formFileMultiple" class="col-md-2 col-form-label">Subir Curriculum Vitae </label>
                    <div class="col-md-8"><input class="form-control " type="file" id="formFileMultiple" multiple></div>
                    <div class="mb-3 row">
                        <div class="col-md-2">
                            <label for="fechaIngreso" class="form-label ">Fecha de Ingreso</label>
                        </div>
                        <div class='col-md-8'>
                            <input type="date" id="fechaIngreso" name="fechaIngreso" class="form-control ">
                        </div>
                        
                    </div>
                    </div>
               
                </div>  
                <div id="estudiante" style="display:block">
                    <label for="matricula" class="col-md-2 col-form-label">Matricula</label>
                    <div class=" col-md-8"><input name="matricula" id="matricula" type="text" class="form-control"></div>
                </div>
                       
            </form>
        </fieldset>
        <br><br>

            <fieldset>
            <legend >Datos Personales</legend>
                <form class="row  ">
                    <div class="row g-5">
                        <div class=" col-lg-5">
                            <label for="nombre" class="form-label">Apellido y Nombre</label>
                            <input name="nombre" id="nombre" type="text" class="form-control">
                        </div>
                        <div class="col-lg-3">
                            <label for="cuil" class="form-label">Cuil</label> 
                            <input name="cuil" id="cuil" type="number" class="form-control">
                        </div>   
                        <div  class="col-lg-3">
                            <label for="documento" class="form-label">Documento</label> 
                            <input name="documento" id="documento" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="row g-5">
                        <div class="  col-lg-4">
                            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                            <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="form-control">             
                        </div>                                              
                        <div class="col-lg-3">
                            <label for="telefono" class="form-label">Telefono</label>
                            <input type="telefono" name="telefono" id="telefono" class="form-control">
                        </div>
                        <label class=" col-form-label col-lg-1 ">Sexo</label>
                            <div class="col-lg-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="Femenino" >
                                    <label class="form-check-label" for="gridRadios1">Masculino</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="Masculino">
                                    <label class="form-check-label" for="gridRadios2">Femenino</label>
                                </div>    
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="otros">
                                    <label class="form-check-label" for="gridRadios2">otros</label>
                                </div> 
                            </div>    
                    </div>
                </form>
        </fieldset> 
        <br><br>

        <fieldset>
            <legend>Domicilio</legend>        
            <form class="row  ">
                <div class="row g-5">
                    <div class="col-lg-5 ">
                        <label for="provincia" class="form-label">Provincia</label>
                        <input type="text" name="provincia" id="provincia" class="form-control">
                    </div>                    
                    <div class="col-lg-5">
                        <label for="localidad" class="form-label">Localidad</label>
                        <input type="text" name="localidad" id="localidad" class="form-control">
                    </div>   
                </div>
                <div class="row g-5">
                    <div class="  col-lg-5 ">
                        <label for="domicilio" class="form-label">Calle</label>
                        <input type="text" name="domicilio" id="domicilio" class="form-control">
                    </div>   
                    <div class="  col-lg-3 ">
                        <label for="Numero" class="form-label">Numero</label>
                        <input type="number" name="Numero" id="numero" class="form-control">
                    </div>    
                </div>       
            </form> 
            </fieldset>  
        <br><br>

        <div>   
            <input type="submit" class="btn btn-primary" value="Registrarte" >
            <input type="button" class="btn btn-secondary" value="Cancelar">
        </div> 
    </div>

    <script src="{% static 'js/index.js' %}"></script>
    <br>
{% endblock contenido %}  