{% extends 'base/base.html' %}
{% load static %}
{% block title %}Detalle Curso{% endblock title %}Home
{% block titulo %}Detalle Curso{% endblock titulo %}
{% block contenido %}
<main>  
    <div class=" container" >    
        <fieldset >
            <div class="row g-3 col-11 ">
                <div class="col-sm-3">
                    <label for="nombreCurso" class="col-form-label "> Nombre del Curso: </label>
                </div>
                <div class="col-sm-8">                        
                    <p class="col-form-label "> {{curso.nombrecurso}} </p>
                </div>                   
                <div class="col-sm-3">
                    <label for="objetivo" class="col-form-label">Objetivo General </label>
                </div>  
                <div class="col-sm-8 col-12">   
                    <p class="col-form-label">{{curso.objetivogeneral}}</p>
                </div>  
                <div class="col-sm-3">
                    <label for="costo" class="form-label">Costo:</label>                       
                </div>
                <div class="col-sm-8 col-12">
                    <p class="border">{{curso.costo}}</p>
                </div>
                <div  class="col-sm-3">
                    <label for="modalidad" class="form-label "  >Modalidad del Curso:</label>                      
                </div>
                <div class="col-sm-8 col-12">
                    <p class="border"> {{curso.modalidad}} </p>
                </div>
                <div class=" col-sm-3">
                    <label for="docentes" class="form-label">Docentes a Cargo:</label>                               
                </div>
                <div class="col-sm-8 col-12">
                    <p class="border">
                        <ul>
                            {% for docente in curso.docentecargo.all %}
                                <li>{{ docente.nombreyapellido }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
                <div class="col-sm-3">
                    <label for="honorarios" class="form-label">honorarios</label>                      
                </div>
                <div class="col-sm-8 col-12">
                    <p class="border"> MMMMMM </p>
                </div>
                <div class="  col-sm-3 ">
                    <label for="fechaInicio" class="form-label">Fecha Inicio:</label>                      
                </div>
                <div class="col-sm-8 col-12">
                    <p class="border">{{curso.fechaini}}</p>
                </div>
                <div class="col-sm-3">
                    <label for="fechaFin" class="form-label">Fecha Fin:</label>                       
                </div>
                <div class="col-sm-8 col-12">
                    <p class="border">{{curso.fechafin}}</p>
                </div>
                <div class="col-sm-3 ">
                    <label for="horasCatedra" class="form-label">Horas Catedra:</label>                       
                </div>
                <div class="col-sm-8 col-12">
                    <p class="border">{{curso.horascatedra}}</p>
                </div>
                <div class="col-sm-3">
                    <label for="cantMinimaAlum" class="form-label">Cantidad Minima Alumnos</label>                      
                </div>
                <div class="col-sm-8 col-12">
                    <p class="border">{{curso.cantidadminalumnos}}</p>
                </div>    
                <div class="col-sm-3">
                    <label for="cantMaximaAlum" class="form-label">Cantidad Maxima Alumnos</label><br>                       
                </div>
                <div class="col-sm-8 col-12">
                    <p class="border">{{curso.cantidadmaxalumnos}}</p>
                </div>   
            </div>  
            <div class="col-10 " > 
                <input type="submit" class="btn btn-primary" value="inscribirse" >
                <input type="button" class="btn btn-secondary" value="Cancelar">
            </div>
        </fieldset>
    </div>  
</main>        
{% endblock %}