{% extends 'base/base.html' %}
{% load static %}
{% block title %}Detalle Curso{% endblock title %}Home
{% block titulo %}Detalle Curso{% endblock titulo %}
{% block contenido %}
<main>  
    <div class=" container" >    
        <fieldset >
            <div class="row g-3 col-11 ">
                <div class="col-sm-3">
                    <label for="nombreCurso" class="col-form-label "> Nombre del Curso: </label>
                </div>
                <div class="col-sm-8">                        
                    <p class="col-form-label "> {{curso.nombrecurso}} </p>
                </div>                   
                <div class="col-sm-3">
                    <label for="objetivo" class="col-form-label">Objetivo General </label>
                </div>  
                <div class="col-sm-8 col-12">   
                    <p class="col-form-label">{{curso.objetivogeneral}}</p>
                </div>  
                <div class="col-sm-3">
                    <label for="costo" class="form-label">Costo:</label>                       
                </div>
                <div class="col-sm-8 col-12">
                    <p >{{curso.costo}}</p>
                </div>
                <div  class="col-sm-3">
                    <label for="modalidad" class="form-label "  >Modalidad del Curso:</label>                      
                </div>
                <div class="col-sm-8 col-12">
                    <p > {{curso.modalidad}} </p>
                </div>
                <div class=" col-sm-3">
                    <label for="docentes" class="form-label">Docentes a Cargo:</label>                               
                </div>
                <div class="col-sm-8 col-12">
                    <p>
                        <ul>
                            {% for docente in curso.docentecargo.all %}
                                <li>{{ docente.nombreyapellido }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
                <div class="col-sm-3">
                    <label for="honorarios" class="form-label">honorarios</label>                      
                </div>
                <div class="col-sm-8 col-12">
                    <p > {{curso.honorarios}} </p>
                </div>
                <div class="  col-sm-3 ">
                    <label for="fechaInicio" class="form-label">Fecha Inicio:</label>                      
                </div>
                <div class="col-sm-8 col-12">
                    <p >{{curso.fechaini}}</p>
                </div>
                <div class="col-sm-3">
                    <label for="fechaFin" class="form-label">Fecha Fin:</label>                       
                </div>
                <div class="col-sm-8 col-12">
                    <p >{{curso.fechafin}}</p>
                </div>
                <div class="col-sm-3 ">
                    <label for="horasCatedra" class="form-label">Horas Catedra:</label>                       
                </div>
                <div class="col-sm-8 col-12">
                    <p >{{curso.horascatedra}}</p>
                </div>
                <div class="col-sm-3">
                    <label for="cantMinimaAlum" class="form-label">Cantidad Minima Alumnos</label>                      
                </div>
                <div class="col-sm-8 col-12">
                    <p >{{curso.cantidadminalumnos}}</p>
                </div>    
                <div class="col-sm-3">
                    <label for="cantMaximaAlum" class="form-label">Cantidad Maxima Alumnos</label><br>                       
                </div>
                <div class="col-sm-8 col-12">
                    <p >{{curso.cantidadmaxalumnos}}</p>
                </div>   
            </div>  
            <div class="col-10 " > 
                
                {% if curso.estadocurso == 'Aprobado' %}
                        {% if perms.cursos.add_inscriptos %}
                            {% if bandera == 0 %}
                                <a class="btn btn-primary" href="{%url 'cursos:inscripcion' curso.id %}">Inscribirse</a>
                                <a class="btn btn-secondary" href="{% url 'cursos:registroCursos' %}">Cancelar</a>
                            {% else %}
                                  <a class="btn btn-primary" href="{% url 'cursos:listaAlumnos' curso.id %}">LISTA</a>
                                  <a class="btn btn-primary "href="{% url 'cursos:pago' curso.id %}">PAGAR</a>
                            {% endif %}                        
                        {% else %}
                            <a class="btn btn-primary" href="{% url 'cursos:listaAlumnos' curso.id %}">LISTA</a>
                        {% endif %}
                {% else %}
                  <h3>Motivo</h3>
                  <p>{{curso.motivo}} </p>     
                {% endif %}
               
            </div>
        </fieldset>
    </div>  
</main>        
{% endblock %}