{% extends 'base/base.html' %}
{% block title %}>Evaluacion{% endblock title %}
{% block titulo %}Evaluacion{% endblock titulo %}
{% block contenido %}
<div class="container-md " >
      <fieldset>
           <form action="" method="post">
                <legend>Evaluacion</legend>
                    {% for field in form %}
                    <div class="mb-3 row">
                    {{ field.errors }}
                    <label for="{{ form.label.id_for_label }}" class="form-label">{{field.label}}</label>
                    {{ field }}
                    </div><br>
                    {% endfor %}
                
                    {% csrf_token %}
            
                <input type="submit" class="btn btn-primary" value="Evaluacion" >
                <input type="button" class="btn btn-secondary" value="Cancelar">
            </form>
{% endblock contenido %}