{% extends 'base/base.html' %}
{% block title %}>Inscripcion{% endblock title %}
{% block titulo %}Inscripcion{% endblock titulo %}
{% load static %}
{% block contenido %}
<div class="container-md " >
      <fieldset>
           <form action="" method="post">
                <legend>Inscripcion</legend>
                 
                    <div class="col-md-5">
                    {{ form.curso.errors }}
                        <label for="{{ form.curso.id_for_label }}" class="form-label">Curso</label>
                        {{ form.curso }}
                    </div>

                    <div class="col-md-5 ">
                    {{ form.inscripto.errors }}
                        <label for="{{ form.inscripto.id_for_label }}" class="form-label"> Alumno </label>
                        {{ form.inscripto }}
                    </div>  
                    
                    
                    <div class="col-md-5 hidden">
                    {{ form.nota1.errors }}
                        <label for="{{ form.nota1.id_for_label }}" class="form-label">Nota 1 </label>
                        {{ form.nota1 }}
                    </div>

                    <div class="col-md-5 hidden">
                    {{ form.nota2.errors }}
                        <label for="{{ form.nota2.id_for_label }}" class="form-label">Nota 2 </label>
                        {{ form.nota2 }}
                    </div>

                    <div class="col-md-5 hidden">
                    {{ form.nota3.errors }}
                        <label for="{{ form.nota3.id_for_label }}" class="form-label">Nota 3 </label>
                        {{ form.nota3 }}
                    </div>
                    
                    <div class="col-md-5 hidden">
                    {{ form.asistencia.errors }}
                        <label for="{{ form.asistencia.id_for_label }}" class="form-label"> Asistencia </label>
                        {{ form.asistencia }}
                    </div>         
                    
                    {% csrf_token %}
            {% comment %} Hacer a mano despues {% endcomment %}
                <input type="submit" class="btn btn-primary" value="Inscribirse" >
                <input type="button" class="btn btn-secondary" value="Cancelar">
            </form>
            <script src="{% static 'js/inscripcion.js' %}"></script>
{% endblock contenido %}