{% extends 'base/base.html' %}
{% block title %}>Regitro de Curso{% endblock title %}
{% block titulo %}Registro de Cursos{% endblock titulo %}
{% block contenido %}
    <div class="container">
    <div class="table-responsive-lg">
      <table class="table-dark table-hover; table table-bordered"  >
        <thead>
          <tr >
            <th scope="col">Nombre Curso</th>
            <th scope="col">Docente</th>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Estado</th>
            <th scope="col">opc</th>
          </tr>
        </thead>  
        <tbody>
           {% for curso in cursos%}
          <tr>
            <td scope="row">{{curso.nombrecurso}}</td>
            <td scope="row">
              <ul>
                  {% for docente in curso.docentecargo.all %}
                      <li>{{ docente.nombreyapellido }}</li>
                  {% endfor %}
              </ul>
            </td>
            <td scope="row">{{curso.fechaini}}</td>
            <td scope="row">{{curso.estadocurso}}</td>
            <td scope="row"><button type="button" class="btn btn-dark border" > Modificar</button>  <button type="button"  class="btn btn-dark border"> eliminar</button></td>
          </tr>
          {% endfor%}
        </tbody> 
      </table>
    </div>
  </div>   
  {{request.resolver_match.view_name}}
  
{% endblock contenido %}
