{% extends 'base/base.html' %}
{% block title %}Regitro de Curso{% endblock title %}
{% block titulo %}Registro de Cursos{% endblock titulo %}
{% block contenido %}
{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}  <div class="message" role="status">{{ message }}</div>{% endif %}
            {% if message.tags == 'error' %}  <div class="errors" role="alert">{{ message }}</div>{% endif %}
        {% endfor %}
{% endif %}    
<div class="container">
    <div class="table-responsive-lg">
      <table class="table-dark table-hover; table table-bordered"  >
        <thead>
          <tr >
            <th scope="col">Nombre Curso</th>
            <th scope="col">Docente</th>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Estado</th>
            <th scope="col">opc</th>
          </tr>
        </thead>  
        <tbody>
          {% for curso in cursos%}
            <tr>
              <td scope="row"><a href="{% url 'cursos:cursoDetalle' curso.id %}">{{curso.nombrecurso}}</a></td>
              <td scope="row">
                <ul>
                    {% for docente in curso.docentecargo.all %}
                        <li>{{ docente.nombreyapellido }}</li>
                    {% endfor %}
                </ul>
              </td>
              <td scope="row">{{curso.fechaini}}</td>
              <td scope="row">{{curso.estadocurso}}</td>
              <td scope="row"><a href="{% url 'cursos:curso_edicion' curso.id %}" class="btn btn-dark border" > Modificar</a>  
                <form action="{% url 'cursos:curso_delete' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="id_curso" value="{{ curso.id }}">
                  <input class="btn btn-dark border" type="submit" value="Eliminar" onclick="return confirm('¿Está seguro que desea eliminar el registro?');">
                </form>
              </td></tr>
          {% endfor%}
        </tbody> 
      </table>
    </div>
  </div>   
  <!-- {{request.resolver_match.view_name}} -->
  
{% endblock contenido %}

 