nav li{
    display: inline;
}
table thead{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 5mm;
  
}
textarea{
    
    resize: none;
    
}


input,textarea,  select{
    border-radius: 2mm;
    outline: 2px solid #1C6EA4;
    outline-offset: 0px;
    
}
/* textarea{
    resize: none;
} */
/* legend{
    background-color: rgba(20, 42, 114, 0.5); 
    font-weight: 800;
    color: black;
    font-size: 7mm;
} */


 #footer{
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
    font-weight: 400;
} 
/* footer{
     padding: 2mm; 
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
    font-weight: 400; 
}   */


 fieldset{
    padding: 3mm;
    padding-bottom: 5mm;
    border-width: 5px; 
    border-style: inset;
    border-color: #1c98c2; 
}  


 /* body {
    /* min-height:100vh; */
    /* display: flex;
    border: 2px dashed red;
    background-color: lightyellow;
    min-height: 100vh; */
     /* margin: 0;
    padding: 0;
    display: flex; 
    min-height: 100vh; 
    min-width: 100vw;
    background: white;    
} */



h1{
    font-size: 10mm;
    font-weight: 800;
    background-color: slategrey;
    text-align: center;
    padding: 3mm;
} 
label{
    font-weight: 800;
}
h3{
    text-decoration-line: underline;
}

a.active{
    text-decoration: underline;
}
fieldset + fieldset{
    padding: 3mm;
    padding-bottom: 5mm;
    border-width: 7px;
    border-style: outset;
    border-color: #1c98c2;
}
form{
    padding: 0mm;
    
}
div{
    padding: 0mm;
    border: 0mm;
    margin: 0mm;
}
.row{
    
    margin: 0mm;
}
/* .content{
    overflow: hidden;
} */

.content {
    margin: 0;
    padding: 0%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

div.message {
    background-color: #ccf5ff;
    border: 1px solid #cccccc;
    padding: 10px;
}

div.error {
    background-color: #ffb3b3;
    border: 1px solid #cccccc;
    padding: 10px;
}