<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadisticas</title>
    <style>
        nav li{
            display: inline;
        }
    </style>
</head>
<body>
    <nav>
        <div>
            <ul>
                <li><a href="./homepage.html">Home</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="./formcrearcurso.html">Registrar Curso</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="./tablaCursos.html">Registro de Cursos</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="./login.html">Login</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="./estadocurso.html">Estado</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="./estadisticas.html">Estadisticas</a></li>           
            </ul>
        </div>
    </nav>
    <h1>Estadisticas del sitio</h1>
    <img src="../public/image/images.jpg" alt="Estadisticas" height="200" width="400"><br><br>
    <div>
        <footer>     FACULTAD DE TECNOLOGIA Y CIENCIAS APLICADAS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  AÑO:2021       </footer>
    </div>
</body>
</html>