<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de inscripcion </title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    
  
    <div><h1>INSCRIPCION </h1></div>
    
    <!-- cuit, nombre y apellido,domicilio , sexo, fecha de nacimiento, estado civil  -->
    <div>
        <form action="#">
            <br>
            <div><label for="nombre">Apellido y nombre</label><br>
                <input name="nombre" id="nombre" type="text"></div><br>
            <div><label for="cuil">Cuil</label> <br>
                <input name="cuil" id="cuil" type="number"></div><br>
            <div><label for="documento">Documento</label> <br>
                <input name="documento" id="documento" type="number"></div>         
            <br>
            <div><label for="fechaNacimiento"> Fecha de Nacimiento</label><br>
                <input  name="fechaNacimiento" id="fechaNacimiento" type="date"></div><br>     
            <div><label for="telefono">Telefono </label><br>  
                <input name="telefono" id="telefono" type="tel"></div><br>
            <div><label for="correo">Correo </label><br>
                <input name="correo" id="correo" type="email"></div><br>
            <div><label> Sexo</label> <br>
                <input type="radio" id="masculino" name="sexo" value="masculino">
                <label for="masculino">Masculino</label><br>
                <input type="radio" id="femenino" name="sexo" value="femenino">
                <label for="femenino">Femenino</label><br>
                <input type="radio" id="otrxs" name="sexo" value="otrxs">
                <label for="otrxs">Otrxs</label></div> 
                <br><br>   

            <div><label for="domicilio">Domicilio </label><br>
                <input name="domicilio" id="domicilio" type="text"></div>
            <br>
            <div><label for="localidad">Localidad </label><br>
                <input name="localidad" id="localidad" type="text"></div>
            <br>
            <div><label for="provincia" >Provincia </label><br>
                <input name="provincia" id="provincia" type="text"></div>
            <br>

            
            <input type="submit" value="INSCRIBIRSE">
        </form>

    </div>
    <br><br><br>
    <div>
        <footer>     FACULTAD DE TECNOLOGIA Y CIENCIAS APLICADAS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  AÑO:2021       </footer>
    </div>

</body>
</html>