<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGO</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    
    <form action="#" method="post">
        <div>
            <label for="pago">pago:</label><br>
            <input name="pago" id="pago" type="number">
        </div>
        <br>
        <div>
            <label for="numRecibo">Numero de Recibo:</label><br>
            <input name="numRecibo" id="numRecibo" type="number">
        </div>
        <br>
        <div>
            <label for="fecha">Fecha:</label><br>
            <input name="fecha" id="fecha" type="date">
        </div>
        <br>
        <div>
            <label for="descripcion">Descripcion:</label><br>
            <input name="descripcion" id="descripcion" type="text">
        </div>
        <br>
        <div>
            <label for="formaPago"> Forma de Pago:</label><br>
            <input name="formaPago" id="formaPago" type="text">
        </div>

    </form>

   
    <br><br><br>
    <div>
        <footer>     FACULTAD DE TECNOLOGIA Y CIENCIAS APLICADAS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  AÑO:2021       </footer>
    </div>

</body>
</html>